#header {
  background: none;
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  position: fixed;
  top: 135px;
  right: 0;
  left: auto;
  width: auto;
}
#headert {
  background: none;
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  position: fixed;
  top: 150px;
  right: 0;
  left: auto;
  width: auto;
}


#header.header-scrolled {
  padding: 12px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo {
  display: none;
}

#headert.headert-scrolled {
  padding: 12px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#headert .logo {
  display: none;
}

/*--------------------------------------------------------------
# Get Startet Button
--------------------------------------------------------------*/
.get-started-btn {
  margin-left: 30px;
  background: #e03a3c;
  color: #fff;
  border-radius: 4px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
}

.get-started-btn:hover {
  background: #111111;
  color: #fff;
}

@media (max-width: 992px) {
  .get-started-btn {
    margin: 0 15px 0 0;
    padding: 6px 18px;
    padding-right: 2px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 5px;
  position: fixed;
  padding: 12px;
  right: 0;
  left: auto;
  width: auto;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px 0px 0px 5px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.vnavbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #111111;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}

.navbar a:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -15px; /* Adjust the position of the line as needed */
  width: 2px;
  background-color: #e03a3c;
  opacity: 0.2;
  transition: opacity 0.3s ease;
}

.navbar a:hover::before,
.navbar .active::before,
.navbar .active:focus::before,
.navbar li:hover>a::before {
  opacity: 1;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #e03a3c;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 30px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #e03a3c;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #e03a3c;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
  .floatingx-button{
    visibility: hidden;
  }
  .floating-button{
    visibility: visible;
  }
}
.floatingx-button{
    
  }

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 100px;
  right: -100%;
  left: auto;
  bottom: 0;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: right 0.3s;
  z-index: 999;
}

.navbar-mobile.active {
  right: 0;
}


.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #111111;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #e03a3c;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0s;
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #e03a3c;
}

.navbar-mobile .dropdown>.dropdown-active {
  color: #e03a3c;
}

.navbar-mobile .dropdown .dropdown-active>a:after {
  content: "\f0d7";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  float: right;
  padding-right: 15px;
}

.navbar-mobile .dropdown:hover>ul {
  display: block;
}

@media (max-width: 991px) {
  .navbar-mobile .dropdown ul {
    margin: 0;
  }

  .navbar-mobile .dropdown .dropdown ul {
    margin: 0;
  }

  .navbar-mobile .dropdown .dropdown ul a {
    padding-left: 30px;
  }

  .navbar-mobile .dropdown .dropdown .dropdown ul a {
    padding-left: 40px;
  }
}



.top-menu {
  background-color: #000c19;
  color: #F5F5F5;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-menu .clock-icon {
  font-size: 24px;
  margin-right: 5px;
}

.top-menu .support-text {
  font-size: 14px;
  margin-right: 10px;
}

.top-menu .menu-items {
  display: flex;
  align-items: center;
}

.top-menu .menu-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 14px;
}

.top-menu .menu-item i {
  margin-right: 5px;
}

.top-menu .divider {
  margin: 0 10px;
  font-size: 14px;
}

.top-menu .social-icons {
  display: flex;
  align-items: center;
}

.top-menu .social-icons a {
  color: #fff;
  margin-right: 10px;
  font-size: 18px;
}

.top-menu .social-icons a:last-child {
  margin-right: 0;
}

.top-menu .right-menu-items {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .top-menu {
    display: none;
  }

  .bookmark-icon {
  width: 40px;
  height: 60px;
  background-color: #e03a3c;
  position: relative;
  border-radius: 50px 50px 0 0;
}

.bookmark-icon::after {
  content: "";
  position: absolute;
  top: 60px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 20px;
  border-color: transparent transparent #e03a3c transparent;
}


.navbart {
  padding: 5px;
  position: fixed;
  top: 100px;
  right: auto;
  left: 0;
  width: auto;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px 0px 0px 5px;
}

.navbart ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.vnavbart li {
  position: relative;
}

.navbart a,
.navbart a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #111111;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}

.navbart a:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -15px; /* Adjust the position of the line as needed */
  width: 2px;
  background-color: #e03a3c;
  opacity: 0.2;
  transition: opacity 0.3s ease;
}

.navbart a:hover::before,
.navbart .active::before,
.navbart .active:focus::before,
.navbart li:hover>a::before {
  opacity: 1;
}

.navbart a i,
.navbart a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbart a:hover,
.navbart .active,
.navbart .active:focus,
.navbart li:hover>a {
  color: #e03a3c;
}

.navbart .dropdown ul {
  display: block;
  position: absolute;
  left: 30px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbart .dropdown ul li {
  min-width: 200px;
}

.navbart .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
}

.navbart .dropdown ul a i {
  font-size: 12px;
}

.navbart .dropdown ul a:hover,
.navbart .dropdown ul .active:hover,
.navbart .dropdown ul li:hover>a {
  color: #e03a3c;
}

.navbart .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbart .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbart .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbart .dropdown .dropdown ul {
    left: -90%;
  }

  .navbart .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color:  #e03a3c;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbart ul {
    display: none;
  }
  #header{
    visibility: hidden;
  }
}

.navbart-mobile {
  position: fixed;
  overflow: hidden;
  display: inline-block;
  top: 100px;
  right: 0;
  left: auto;
  bottom: 0;
  background: none;
  transition: 0.3s;
  z-index: 999;
}

.navbart-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbart-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}  

.navbart-mobile a,
.navbart-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #111111;
}

.navbart-mobile a:hover,
.navbart-mobile .active,
.navbart-mobile li:hover>a {
  color: #e03a3c;
}

.navbart-mobile .getstarted,
.navbart-mobile .getstarted:focus {
  margin: 15px;
}

.navbart-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0s;
}

.navbart-mobile .dropdown ul li {
  min-width: 200px;
}

.navbart-mobile .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
}

.navbart-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbart-mobile .dropdown ul a:hover,
.navbart-mobile .dropdown ul .active:hover,
.navbart-mobile .dropdown ul li:hover>a {
  color: #e03a3c;
}

.navbart-mobile .dropdown>.dropdown-active {
  color: #e03a3c;
}

.navbart-mobile .dropdown .dropdown-active>a:after {
  content: "\f0d7";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  float: right;
  padding-right: 15px;
}

.navbart-mobile .dropdown:hover>ul {
  display: block;
}

@media (max-width: 991px) {
  .navbart-mobile .dropdown ul {
    margin: 0;
  }

  .navbart-mobile .dropdown .dropdown ul {
    margin: 0;
  }

  .navbart-mobile .dropdown .dropdown ul a {
    padding-left: 30px;
  }

  .navbart-mobile .dropdown .dropdown .dropdown ul a {
    padding-left: 40px;
  }

  .navbar {
  visibility: hidden;
}
}






@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

